include LICENSE
include README.md
include pyproject.toml

recursive-include seed/config *.yaml
recursive-include seed/templates *.md
recursive-include seed *.py

exclude *.pyc
exclude __pycache__
exclude *.pyo
exclude .git*